body {
  background-color: white;
  color: black;
  text-align: center;
  font: 400 2.5vh 'Open Sans', sans-serif;
}

.name {
  text-transform: uppercase;
  font-size: 3vh;
  font-weight: bold;
  margin: 4vh;
}

button {
  background-color: #555;
  color: white;
  font-size: 3vh;
  font-family: inherit;
  box-sizing: border-box;
  padding: 2vh 5vh;
  margin-top: 5vh;
  width: 70vw;
  max-width: 500px;
}

.result-text {
  padding: 2vh;
}

.scanner {
  margin: auto;
  max-width: 1280px;
  max-height: 75vh;
}

h1,
h2 {
  font-family: Lato;
}

.row {
  border: 1px solid black;
}

.col-sm {
  border: 2px solid pink;
}
